<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form id="dz_login_signin_form"
          class="form-validate"
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                id="email"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label for="firstName">First name</label>
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                id="firstName"
                placeholder="First name"
              />
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  id="lastName"
                  placeholder="Last name"
                />
            </div>
            <div class="form-group">
                <label class="mb-1"><strong>Password</strong></label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Enter password.."
                  />
                </div>
            </div>
            <!-- formControlName="password"<div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
