/* You can add global styles to this file, and also import other style files */
body{
    font-family: Lato;
}
.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}